@page "/AddSubtitles"

<h3>Add Subtitles</h3>
<p>This basic demo takes an input video and an input subtitle file and merges them. </p>
<p>
    <a href="https://github.com/LostBeard/SpawnDev.BlazorJS.FFmpegWasm/blob/main/SpawnDev.BlazorJS.FFmpegWasmDemo/Pages/AddSubtitles.razor">AddSubtitles.razor</a><br />
    <a href="https://github.com/LostBeard/SpawnDev.BlazorJS.FFmpegWasm/blob/main/SpawnDev.BlazorJS.FFmpegWasmDemo/Pages/AddSubtitles.razor.cs">AddSubtitles.razor.cs</a><br />
    
</p>
<video @ref=videoResult autoplay muted id="video-result" controls style="border: 1px solid black;"></video><br />
<a style="@(string.IsNullOrEmpty(outputFileName) ? "display: none;" : "")" href="@outputURL" download="@outputFileName">@outputFileName</a>
<br />

<br />
<div style="@(loaded ? "display: none;" : "")">
    <button @onclick=Load disabled="@(loaded || busy)" id="load-button">Load ffmpeg-core (~31 MB)</button>
    <br />
    <br />
</div>
<div style="@(!loaded ? "display: none;" : "")">
    Select a source video.
    <br />
    Video File:
    <input @ref=fileInputRef accept="video/*" type="file" disabled="@(!loaded || busy)" style="width: 100%;" />
    <br />
    Subtitle File:
    <input @ref=srtInputRef accept=".srt" type="file" disabled="@(!loaded || busy)" style="width: 100%;" />
    <br />
    <button @onclick=Transcode disabled="@(!loaded || busy || srtFileObj == null || inputFileObj == null)" id="load-button">Transcode</button>
    <br />
    Multithreading will be used: @FFmpegFactory.MultiThreadSupported
    <br />
    <br />
    <div style="width: 100%; background-color: grey; position: relative;">
        <div style="width: @(percentComplete)%; background-color: cadetblue; height: 36px;">
        </div>
        <div style="padding-top: 0; top: 0; left: 0; position: absolute; height: 100%; width: 100%; background-color: transparent; font-weight: bold; text-align: center; font-size: 24px;">
            @(Math.Round(percentComplete, 3)) %
        </div>
    </div>
</div>
<p>@logMessage</p>
<p>@progressMessage</p>
<p>Open Developer Tools (Ctrl+Shift+I) to View Logs</p>
